# env
.env
*.env

# venv
venv/

# локальные данные
data/
*.db
tasks.json

# локальный Postgres
pgdata/

# локальные дампы/сессии
todo_local_session.*
*.sqlite
*.sqlite3

# python
__pycache__/
*.py[cod]
*.pyo
*.pyc

# IDE
.vscode/
.idea/

# pytest / mypy (если появятся)
.pytest_cache/
.mypy_cache/

# macOS
.DS_Store
